@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.qui {
  font-family: "Anek Malayalam", sans-serif;
  background-image: url("../assets/leaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
  height: calc(93.3vh);
}

.quiz-container {
  width: 600px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 100px;
  padding: 30px 60px;
  margin: 120px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #54752e;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: rgb(205, 236, 189);
  border: 1px solid rgba(64, 102, 45, 1);
}

.quiz-container button {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(64, 102, 45, 1) 10%,
    rgba(64, 102, 45, 1) 90%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}

ol li {
  color: #2e6933;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 0rem;
}
