@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.mainBody {
  padding: 4rem;
}

.mainBody h1 {
  margin-left: 4rem;
  font-size: 55;
  font-family: "Roboto", sans-serif;
}

.card-inner img {
  width: 50px;
}
